section#chisiamo
    h2 Chi Siamo
    .content
      p
        | La nostra community &egrave; nata da un clan di Arma3 nel 2013, con il tempo si &egrave; evoluta in un community stabile e in una Multigaming compatta. Sotto il nome di Octafox ci sono vari team di settori differenti che variano dal gaming alla programmazzione.