section#community
    h2 Community
    .content
      a(href='https://www.youtube.com/channel/UCkmj0vz7z1bzl3koz0zWWNQ' target='_blank' rel='noopener noreferrer')
        i.fab.fa-youtube.fa-2x
      a(href='https://www.twitch.tv/team/octafox' target='_blank' rel='noopener noreferrer')
        i.fab.fa-twitch.fa-2x
      a(href='https://github.com/octafox' target='_blank' rel='noopener noreferrer')
        i.fab.fa-github.fa-2x
      a(href='https://steamcommunity.com/groups/OctaFox' target='_blank' rel='noopener noreferrer')
        i.fab.fa-steam.fa-2x
      a(href='http://www.teamspeak.com/invite/ts.octafox.it/' target='_blank' rel='noopener noreferrer')
        i.fab.fa-teamspeak.fa-2x
      a(href='https://discordapp.com/invite/WVRBrY6' target='_blank' rel='noopener noreferrer')
        i.fab.fa-discord.fa-2x