section#contattaci
  .container
    h2 Contattaci
    .content
      form(action="http://octafox.it:8001/api/contact", method="post")#contactForm
        label(for='user') Username
        input#user(type='text' name='user')
        label(for='email') E-Mail
        input#email(type='text' name='email')
        label(for='msg') Messaggio
        textarea#msg(name='msg' cols='30' rows='10')
        input(type='submit' value='Invia')