nav
  #logo
    a(href='#octafox')
      img(src='../img/logo.png')
  ul
    li
      a(href='#chisiamo') Chi Siamo
    li
      a(href='#community') Community
    li
      a(href='#progetti') Progetti
    li
      a(href='#teams') Teams
    li
      a(href='#contattaci') Contattaci