section#progetti
    h2 Progetti
    .content
      .cards
         .card
            img(src='./img/logo.png')
            h3 Server Military
            p test test test test test test test test test