section#progetti
    h2 Progetti
    .content
      .cards
         each project in projects
            .card
               img(src=project.image)
               h3 #{project.title}
               p #{project.description}