section#teams
    h2 Teams
    .content
      ul
        li
          img(src='./img/logo.png')
          | The Howls Gaming
        li
          img(src='./img/logo.png')
          | Kernel eSports
        li
          img(src='./img/logo.png')
          | Fooking Lazur Sight
        li
          img(src='./img/logo.png')
          | Demacia
        li
          img(src='./img/logo.png')
          | Contractors
        li
          img(src='./img/logo.png')
          | ENCLAVE CLAN
        li
          img(src='./img/logo.png')
          | WolfGang
        li
          img(src='./img/logo.png')
          | Vortex