section#community {
    i {
        color: #eee;

        margin: 20px;
        padding: .1em;
        cursor: pointer;

        transition: color .2s;
    }
    
    i:hover {
        color: #42c5f4;
    }
}