section#contattaci {
    form {
        margin: 0 auto;
        width: 90%;

        label, input, textarea {
            margin: 0 auto;
            display: block;
            width: 100%;
            text-align: left;
            padding: .5em 1em;
            font-family: 'Roboto', sans-serif;
            outline: none;
            border: none;
        }

        input, textarea {
            border-radius: 1em;
        }

        input[type="submit"] {
            margin: 1em 0;
            display: block;
            width: auto;
            padding: .5em 5em;
            background-color: #00d471;
            font-size: 1em;
            cursor: pointer;
        }
    }
}