@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

header {
    background-color: #333;
    height: 100vh;

    nav {
        width: 100%;
        position: fixed;
    
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        transition: height .2s;

        #logo {
            padding: 0 1em;
            
            a {
                img {
                    height: 40px;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 1em 2em;

                a {
                    color: #555;
                    transition: color .3s;

                    &:hover {
                        color: #111;
                    }
                }
            }
        }
    }
}