section#progetti {
    .cards {
        width: 100%;
        
        margin: 30px auto 40px;

        display: flex;
        justify-content: space-around;

        .card {
            background-color: #111;
            width: 45%;

            padding: 2em;
            border-radius: 1.5%;

            img {
                border-radius: 100%;
            }

            h3 {
                font-size: 30px;
                margin: .5em 0;
            }
        }
    }
}