section#progetti {
    .cards {
        width: 100%;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 24px;
        
        .card {
            background-color: #111;
            width: 18em;

            margin: 1em;
            padding: 5em 2em;
            border-radius: 1em;

            img {
                width: 8em;
                border-radius: 5em;
            }

            h3 {
                font-size: 1.5em;
                margin: 1em 0;
            }

            p {
                font-size: .8em;
            }
        }
    }
}