section#teams {

    ul {
        list-style-type: none;

        width: 400px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;

        li {
            margin: 5px;

            display: flex;
            align-items: center;

            padding: 0 2em;

            cursor: pointer;

            img {
                height: 40px;
                margin: 5px 10px;
            }
        }

        li:hover {
            background-color: #171717;
        }
    }
}