section#teams {
    ul {
        list-style-type: none;

        display: flex;
        flex-direction: column;

        a {
            color: #eee;
        }

        li {
            margin: 5px;

            display: flex;
            align-items: center;

            padding: 0 2em;

            cursor: pointer;

            img {
                height: 40px;
                margin: 5px 10px;
            }
        }

        li:hover {
            background-color: #171717;
        }
    }
}