<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>OctaFox</title>
</head>
<body id="octafox">
    <header>
        <nav>
            <div id="logo">
                <a href="#octafox"><img src="<%= require('./img/logo.png') %>" /></a>
                <div id="menuicon"><span></span><span></span><span></span></div>
            </div>
            <ul>
                <li><a href="#chisiamo">Chi Siamo</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#progetti">Progetti</a></li>
                <li><a href="#contattaci">Contattaci</a></li>
            </ul>
        </nav>
        <div id="cover">
            <h1 class="title">Octafox</h1>
            <p class="description">Giochiamo a Arma 3</p>
            <a id="downButton" href="#chisiamo"></a>
        </div>
    </header>

    <main>
        <section id="chisiamo">
            <h2>Chi Siamo</h2>
            <div class="content">
                <p>Siamo partiti con il creare un clan su Arma3, poi abbiamo deciso di espandere il clan e diventare una Multigaming. Il nostro clan si basa sopratutto su Arma3, e di solito giochiamo sui server Exile e anche alle missioni Coop create dei nostri membri. In oltre, ci siamo espansi anche su altri giochi.</p>
            </div>
        </section>
        <section id="community">
            <h2>Community</h2>
            <div class="content">
                <a href="https://www.youtube.com/channel/UCkmj0vz7z1bzl3koz0zWWNQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-2x"></i></a>
                <a href="https://www.twitch.tv/team/octafox" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitch fa-2x"></i></a>
                <a href="https://github.com/octafox" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://steamcommunity.com/groups/OctaFox" target="_blank" rel="noopener noreferrer"><i class="fab fa-steam fa-2x"></i></a>
                <a href="http://www.teamspeak.com/invite/ts.octafox.it/" target="_blank" rel="noopener noreferrer"><i class="fab fa-teamspeak fa-2x"></i></a>
                <a href="https://discordapp.com/invite/WVRBrY6" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord fa-2x"></i></a>
            </div>
        </section>
        <section id="progetti">
            <h2>Progetti</h2>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <img src="<%= require('./img/logo.png') %>">
                        <h3>Server Military</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda totam, quidem quam ducimus asperiores.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="teams">
            <h2>Teams</h2>
            <div class="content">
                <ul>
                    <li><img src="<%= require('./img/logo.png')%>">The Howls Gaming</li>
                    <li><img src="<%= require('./img/logo.png')%>">Kernel eSports</li>
                    <li><img src="<%= require('./img/logo.png')%>">Fooking Lazur Sight</li>
                    <li><img src="<%= require('./img/logo.png')%>">Demacia</li>
                    <li><img src="<%= require('./img/logo.png')%>">Contractors</li>
                    <li><img src="<%= require('./img/logo.png')%>">ENCLAVE CLAN</li>
                    <li><img src="<%= require('./img/logo.png')%>">WolfGang</li>
                    <li><img src="<%= require('./img/logo.png')%>">Vortex</li>
                </ul>
            </div>
        </section>
        <section id="contattaci">
            <h2>Contattaci</h2>
            <div class="content">
                <form>
                    <label for="user">Username</label>
                    <input type="text" name="user" id="user">
                    
                    <label for="email">E-Mail</label>
                    <input type="text" name="email" id="email">
                    
                    <label for="msg">Messaggio</label>
                    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>

                    <input type="submit" value="Invia">
                </form>
            </div>
        </section>
    </main>

    <footer>
        Creato da <a href="https://github.com/xedom">xedom</a> con ❤️ :)
    </footer>

</body>
</html>