head
  meta(charset='UTF-8')
  meta(name='description' content='La nostra community è nata da un clan di Arma3 nel 2013, con il tempo si è evoluta in un community stabile e in una Multigaming compatta. Sotto il nome di Octafox ci sono vari team di settori differenti che variano dal gaming alla programmazzione. Teamspeak : ts.octafox.it')
  meta(name='keywords' content='xedom,tanky,octafox,of,arma3,teamspeak,community,team')
  meta(name='author' content='Kaj Oskar Rusilowski')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  title OctaFox
body
  header#octafox

  main

  footer
    | created by 
    a(href='https://github.com/xedom') xedom