head
  meta(charset='UTF-8')
  meta(name='description' content='Community di giocatori che giocano un po a tutto, unisciti a noi, teamspeak : ts.octafox.it')
  meta(name='keywords' content='xedom,tanky,octafox,of,arma3,teamspeak,community,team')
  meta(name='author' content='Kaj Oskar Rusilowski')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  title OctaFox
body
  header#octafox

  main

  footer
    | creato da 
    a(href='https://github.com/xedom') xedom 
    | con &#x2764;&#xFE0F; :)